.info {

    background: #F5F5F5;
}


body {
    font-family: 'Mr Dafoe', cursive;
    color:#F5F5F5;
    background: url(../img/background.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;

}

.primary-color {
color: #FF0000;
}

.info h2 {
    word-spacing: 0.6rem;
}

.info a {
    transition: color 2s ease-in-out;
}

.info a:hover {
    color: #242424;
}

.secondary-color {
    color: #008000;
}

/*header*/

#header {
    min-height: calc(100vh - 94px);
    background: url(../img/banner.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.height-90 {
    min-height: calc(100vh-94px);

}

.banner h1 {
    border-top: 6px dotted #F5F5F5;
    border-bottom: 6px dotted #F5F5F5;
    animation: fromLeft;
    animation-duration: 4s;
    opacity:0;
    animation-fill-mode: forwards;

}

@keyframes fromLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }

}
.main-btn {
    color: #FF0000;
    font-size: 2rem;
    border: 2px solid #F5F5F5;
    transition: all 1s ease-in-out;

}

.main-btn:hover {
    color: #242424;
    border: 2px solid #F5F5F5;
    background: #F5F5F5;
}

.pizza-btn {
    animation: fromRight;
    animation-duration: 4s;
    opacity:0;
    animation-fill-mode: forwards;

}

@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.header-link {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: #F5F5F5;
    border-radius: 10px;
    transition: all 2s ease;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.header-link:hover {
    color: #242424;
}

@keyframes fromBottom {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}


/*navbar*/

.navbar {
    background: #EAE0C8;
    padding: 20px 20px;
    transition: all 1s ease;

}

.navbar-background {
    padding: 5px 20px;
}

.navbar-brand {
    font-size: 30px;
    transition: all 1s ease;
}

.navbar-brand:hover {
    color: #242424;
}

.nav-link {
    color: #242424;
    text-decoration: none;
    transition: all 2s ease;
    font-size: 23px;
}

.nav-link:hover {
    color: #FF0000;
}

.nav-btn {
    background: transparent;
    color: #FF0000;
    border: 2px solid #FF0000;
    font-size: 23px;
    transition: all 2s ease;
}

.nav-btn:hover {
    color: #242424;
    border: 2px solid #242424;
    transform: rotate(10deg)
}

.toggler-btn {
    border: 2px solid #FF0000;
    padding: 5px;
    transition: all 2s ease;
}

.bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    bacground: #FF0000;
    transition: all 0.5s ease;

}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px)
}

.change .bar2 {
    opacity:0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px)
}
/*menu-items*/
.item-container {
    position: relative;
    /* for the link*/
    overflow: hidden;
    background: linear-gradient(rgb(0,0,0), rgb(0,0,0));
    transition: all 2s ease;
}
.item-img {
    transition: all 2s ease;
}
.item-container:hover .item-img {
    transform: scale(1.2);
    opacity: 0.5;
}
.item-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 2rem;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    transition: all 2s ease;
    opacity: 0;
}
.item-container:hover .item-link {
   opacity: 1;
}
.item-link:hover {
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    background: #FFFFFF;
    color: #000000
}

/*menu section*/

#menu {
    background:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/menu.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.special {
    border: 3px solid #FF0000;
    position: relative;
    
}

.special-text {
    position: absolute;
    top: 0;
    right: 10%;
    background: #FF0000;
    padding: 0 0.4rem;

}

/*about*/

.about-pictures {
    position: relative;
}

.about-image {
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}

.img-1 {
    left: 0%;
    top: 0%;
}

.img-2 {
    left: 20%;
    top:20%;
    z-index: 10;
}

.img-3 {
    left: 40%;
    top:45%;
    z-index: 20;
}

.img-4 {
    left: 40%;
    top:0%;
}

.img-5 {
    left: 0%;
    top:45%;
}

.about-image:hover {
    outline-offset: 0.8rem;
    transform: scale(1.2) rotate(20deg);
    z-index: 30;
    opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
opacity: 0.5;
}

/*team*/

.team-icons a {
    color: #3bb599;
    transition: 2s ease-in-out;
}

.team-icons a:hover {
    color: #242424;
    transform: translateY(-5px);
    
}

/*contact*/

.height-60 {
    min-height: 60vh;
}
#contact .card {
    background: rgba (0, 0, 0, 0.5);
    transition: all 2s ease;
}
#contact .card:hover {
    background: rgba (0, 0, 0, 0.8)
}
#contact .input-group-text {
    color: #000000;
}
#contact .card input {
    color: #000000;
}
#contact .card input::placeholder {
    color: #000000;
}
.contact-btn {
  background: transparent;
  transition: all 2s ease-in-out;
}
.contact-btn:hover {
    background: #A9A9A9;
}

/*footer*/

#back-to-top {
    background: #FFFFFF	;
    border-radius: 10px;
    display: inline-block;
}

.scrollTop {
    position : fixed;
    bottom: 70px;
    right:10px;
}